
/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
    background-color : white; 
  }

/*navbar*/
.navigation .navbar-brand{
    background-color:skyblue;
    color:white;
}
#firstimg {
  float: left;
}
  